*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.blue{
  background-color: #0C325A;
  padding: 40px 20px 0 20px;
  position: relative;
}

.blue_header{
  background-color: #0C325A;
  padding: 20px 20px 0 20px
}

/* allineo logo a sinistra */
.logo{
  float: left;
  margin-right: 10px;
}

.container{
  width:70%;
  margin: 0 auto;
  position: relative;
  padding:20px 20px;
}

.allinea-vert h1{
  font-size: 50px;
}

.img-container{
  background-image: url('img/uomini.png');
  position: absolute;
}

.uomini{
  position: absolute;
  bottom:0;
  width: 60%;
}

.col-2 ul li{
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.col-2 ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  padding: 5px;
}

/*stile bottoni di login*/
.login_button a{
  text-decoration: none;
  font-weight: bold;
  color:white;
  line-height: 50px;
}

/*stile dei pulsanti di login*/
.button_green{
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7BBC00;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

/*nascondo il background del primo pulsante*/
.login_button ul li:nth-of-type(2n) a{
  background-color: transparent;
  border: 1px solid #7BBC00;
}

.login_button{
  text-align: center;
}

header::after{
  display: table;
  content: '';
  clear: both;
}

.after-header {
  background-color: #ecf0f1;
  padding: 40px 20px;
}

.container:after {
  clear:both;
  display: table;
  content: '';
}

.col-2 {
  width: 50%;
  float: left;
}

.col-2-img {
  width: 70%;
  margin-left: 20%;
}

.allinea-vert p,
.structure p,
.colonne-small p {
  margin: 20px 0px;
}

.blue{
  background-color: #0C325A;
}

.height-400 {
  height: 400px;
  position: relative;
}

/*Stile bottoni interni alla pagina*/
.green-link {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7BBC00;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.allinea-vert a {
  margin:20px auto;
}

/* allinea testo al centro*/

.text-center{
  text-align: center;
}

.col-1 {
  width: 100%;
  float: left;
}

.allinea-vert,
.livello_iniziale,
.piano a,
.copy{
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

/*definisco colore bianco al contenuto slider*/
.allinea-vert{
  color: white;
}

/*CODICE SEZIONE A TRE COLONNE*/
.col-3{
  float:left;
  width: calc(100% / 3);
  padding:20px;
}

.colonne-3,
.colonne-2,
.colonne-1{
  padding: 30px;
}

.colonne-3 .col-3 img{
  width: 100%;
  margin-bottom: 40px;
  height: 200px;
}

.colonne-3 .col-3 hr{
  margin: 20px auto;
  width: 10%;
}

/* per allineare le colonne do un min-heigth all'h2*/
.colonne-3 .col-3 h2{
  min-height: 40px;
}

.colonne-3 hr,
.colonne-1 hr{
  margin: 30px auto;
}

/* setto dimensioni immagine scalatore centrale */
.scalatore img{
  width: 50%;
  margin-left: 27%;
}

.piano{
  width: 50%;
  float: right;
}

.pc-img img{
  width: 100%;
}

.phone-img{
  width: 50%;
  margin-bottom: 20px;
}

.livello_iniziale{
  padding:20px 90px;
}

.studio-inglese{
 padding: 0 43px 0px 158px;
}

.colonne-small img{
  width: 10%;
}

.colonne-small{
  padding: 80px 150px 80px 150px;
}

.green,
.yellow,
.lightblue{
  margin: 10px 0px 10px 0;
  height: 8px;
}

.colonne-small p{
  min-height: 50px;
}

hr.lightblue{
  background-color: #98c8f8;
}

a.lightblue{
  color:#98c8f8;
}

hr.yellow{
  background-color: #f8b71c;
}

a.yellow{
  color:#f8b71c;
}

hr.green{
  background-color: #7fb802;
}

a.green{
  color: #7fb802;
}

footer{
  background-color:#16406B;
}

.menu-footer ul li{
  display:block;
  text-align: left;
}

.menu-footer ul li a{
  color: #839EB4;
  text-decoration: underline;
  margin:0;
  padding:0;
}
