*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.blue{
  background-color: #0C325A;
  padding: 40px 20px 0 20px;
  position: relative;
}

.blue_header{
  background-color: #0C325A;
  padding: 20px 20px 0 20px
}

.container{
  width:70%;
  margin: 0 auto;
  position: relative;
}

.discover-us h1{
  font-size: 50px;

}

.img-container{
  background-image: url('img/uomini.png');
  position: absolute;
}

.uomini{
  position: absolute;
  bottom:0;
  width: 70%;
}

.col-2 ul li{
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.col-2 ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  padding: 5px;
}

.col-2 nav{
  float: right;
}

/*stile bottoni di login*/
.login_button a{
  text-decoration: none;
  font-weight: bold;
  color:white;
  line-height: 50px;
}

.button_green{
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7BBC00;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

/*nascondo il background del primo pulsante*/
.login_button a:nth-child(2n){
  background-color: transparent;
  border: 1px solid #7BBC00;
}

.login_button{
  text-align: center;
}

header::after{
  display: table;
  content: '';
  clear: both;
}

.after-header {
  background-color: #ecf0f1;
  padding: 40px 20px;
}

.container:after {
  clear:both;
  display: table;
  content: '';
}

.col-2 {
  width: 50%;
  float: left;
}

.col-2-img {
  width: 70%;
  margin-left: 20%;
}

.discover-us p,
.structure p {
  margin: 20px 0px;
}


.blue{
  background-color: #0C325A;
}

.height-400 {
  height: 400px;
  position: relative;
}

/*Stile bottoni interni alla pagina*/
a.green-link,
.discover-us a {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7BBC00;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.discover-us a {
  margin:20px auto;
}

/* allinea testo al centro*/

.text-center{
  text-align: center;
}

.col-1 {
  width: 100%;
  float: left;
}

.discover-us {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: #fff;
}

/*CODICE SEZIONE A TRE COLONNE*/
.col-3{
  float:left;
  width: calc(100% / 3);
  padding:20px;
}

.colonne-3{
  padding: 20px;
}

.colonne-3 .col-3 img{
  width: 100%;
  margin-bottom: 40px;
  height: 200px;
}

.colonne-3 .col-3 hr{
  margin: 20px auto;
  width: 10%;
}

/* per allineare le colonne do un min-heigth all'h2*/
.colonne-3 .col-3 h2{
  min-height: 40px;
}
