*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.blue{
  background-color: #0C325A;
  padding: 20px 30px;
}

.container{
  width:70%;
  margin: 0 auto;
  position: relative;
}

.discover-us h1{
  font-size: 50px;
  
}

.col-2 ul li{
  display: inline-block;
  text-align: center;
}

.col-2 ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 5px;
  padding: 5px;
}

.col-2 nav{
  float: right;
}


.login_button a{
  text-decoration: none;
  font-weight: bold;
  color:white;
}

.button_border{
  text-transform: uppercase;
  text-decoration: none;
  border:1px solid #7BBC00;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

.button_green{
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7BBC00;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}

.login_button{
  text-align: center;
}

header::after{
  display: table;
  content: '';
  clear: both;
}

.after-header,
.struct-plane {
  background-color: #ecf0f1;
  padding: 40px 20px;
}

.container:after {
  clear:both;
  display: table;
  content: '';
}
.three-cols hr {
  margin: 60px auto;
}
.text-center {
  text-align: center;
}
.col-2 {
  width: 50%;
  float: left;
}
.col-3 {
  width:33.33%;
  float: left;
  padding: 20px;
}
.three-cols {
  padding: 20px;
}
.three-cols .col-3 img {
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
}
.three-cols .col-3 hr {
  width: 10%;
  margin: 20px auto;
}
.col-2-img {
  width: 70%;
  margin-left: 20%;
}
.center-vert {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.center-vert .text-cnt {
  width: 80%;
  margin: 0 0 0 auto;
}
.text-cnt h1 {
  line-height: 40px;
}
.text-cnt p,
.discover-us p,
.structure p {
  margin: 20px 0px;
}
.text-right {
  text-align: right;
}
.struct-plane .col-2 h1 {
  margin-left: 10%;
}
.link-plane {
  background-color: #7BBC00;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
}
.blue, .faq {
  background-color: #0C325A;
}
.height-400 {
  height: 400px;
  position: relative;
}
.blue .text-cnt {
  width: 70%;
  margin-left: 10%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.blue .text-cnt h1 span,
.padding-shakehands .contact-us h1 span,
.faq span {
  color: #f1c40f;
}
.pc-img {
  width: 100%;
}

img.shakehands {
  width: 100%;
  margin: 0;
}

a.green-link,
.discover-us a {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #7BBC00;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  display: inline-block;
}

.discover-us a {
  margin:20px auto;
}

.padding-shakehands {
  padding: 60px 30px;
}
.col-1 {
  width: 100%;
  float: left;
}
.contact-us {
  width: 45%;
  margin: 0 auto;
}
.contact-us .margin-10 {
  margin: 10px 0px;
}
.discover-us {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: #fff;
}
.structure {
  padding: 40px 20px;
}
.structure > .container > .col-3 > img {
  width: 10%;
  margin: 0 auto 0 0;
}

.structure > .container > .col-3 > hr {
  border: 4px solid #e67e22;
  margin-bottom: 20px;
}
.structure > .container > .col-3 > a {
  color: #e67e22;
}
.structure .m-bottom {
  margin-bottom: 40px;
}
.structure > .container {
  width: 60%;
}
.faq {
  padding: 40px 20px;
}
footer {
  background-color: #34495e;
  color: #fff;
  padding: 60px 30px;
}
footer a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-top: 10px;
}
footer h3 span {
  text-transform: uppercase;
}
footer h3 {
  margin-bottom: 20px;
}
